<div
  class="h-[80vh] border border-slate-300 rounded-xl overflow-y-scroll mb-[20px]"
>
  <div class="flex justify-center items-center bg-teal-300">
    <p class="" *ngIf="room._id">
      You are in the {{room.name | titlecase}} room.
    </p>
    <p class="flex items-center" *ngIf="privMsgMember._id">
      Your conversation with {{privMsgMember.name | titlecase}}
      <img
        src="{{privMsgMember.image}}"
        alt="{{privMsgMember.name}}"
        class="w-[40px] h-[40px] object-cover mx-auto my-1 rounded-full ml-2"
      />
    </p>
    <p class="" *ngIf="!room._id && !privMsgMember._id">
      Click and choice any room to start conversation.
    </p>
  </div>
  <div class="overflow-y-scroll h-max-[60vh]">
    <ng-container *ngFor="let message of messages">
      <div class="flex w-full justify-center items-center my-2">
        <p
          class="flex w-[150px] justify-center items-center p-2 rounded-lg bg-lime-300"
        >
          {{message._id}}
        </p>
      </div>
      <ng-container *ngFor="let item of message.messagesByDate">
        <div
          class="flex my-3 justify-start"
          [ngClass]="{ 'justify-end': item.from.id===user?.id }"
          (mouseenter)="onMessageHover(true)"
        >
          <ng-container *ngIf="isMessageHover && item.from.id===user?.id">
            <button
              mat-icon-button
              [matMenuTriggerFor]="settings"
              matTooltip="more"
              matTooltipPosition="right"
            >
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #settings="matMenu">
              <button (click)="deleteMessage(item._id)" mat-menu-item>
                <mat-icon>delete_outline</mat-icon>
              </button>
            </mat-menu>
          </ng-container>

          <div class="flex flex-wrap items-center p-[5px] max-w-[50%] rounded">
            <ng-container *ngIf="item.from.id!==user?.id">
              <img
                src="{{item.from.image}}"
                alt="{{item.from.name}}"
                class="w-[35px] h-[35px] object-cover rounded-full mr-[10px]"
              />
            </ng-container>

            <div
              class="flex flex-wrap items-center min-w-[60px] break-all px-3 py-1 rounded-lg"
              [ngClass]="{ 'ml-auto bg-blue-200': item.from.id===user?.id , 
              'bg-indigo-200': item.from.id!==user?.id}"
            >
              <ng-container *ngIf="item.contentType==='text'">
                {{item.content}}
              </ng-container>
              <ng-container *ngIf="item.contentType==='image'">
                <img class="max-w-[200px]" src="{{item.content}}" alt="image" />
              </ng-container>
              <ng-container *ngIf="item.contentType==='video'">
                <video class="max-w-[200px]" controls>
                  <source src="{{item.content}}" type="video/mp4" />
                </video>
              </ng-container>
              <ng-container *ngIf="item.contentType==='raw'">
                <div>
                  <mat-icon>attachment</mat-icon>
                  <a
                    class="font-semibold"
                    href="{{item.content.split(' | ')[0]}}"
                    target="_blank"
                    >{{item.content.split(' | ')[1]}}</a
                  >
                  <div>
                    <span class="text-xs"
                      >{{transformBytesToMB(item.content.split(' | ')[2])}}
                      MB</span
                    >
                  </div>
                </div>
              </ng-container>
            </div>
            <div
              class="flex justify-end basis-[50%] ml-auto text-xs mt-1"
              [ngClass]="{ 'mx-auto': item.from.id!==user?.id }"
            >
              {{item.time}}
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="isFileLoaded">
      <div class="flex items-center w-[200px] h-[200px] ml-auto bg-blue-200">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <p id="point" *ngIf="messages.length">.</p>
  </div>
</div>

<div>
  <form
    class="example-form flex justify-evenly items-center"
    [formGroup]="messageForm"
    (ngSubmit)="sendMessage()"
    *ngIf="currentRoomId"
  >
    <div class="flex justify-evenly items-center mx-2">
      <!-- <div ng-disabled="isFileLoaded">
        <label (click)="uploadRawFile.click()" class="cursor-pointer">
          <mat-icon> attach_file</mat-icon>
        </label>
        <input
          className="p-2 rounded w-full border"
          type="file"
          id="raw-upload"
          name="raw"
          #uploadRawFile
          hidden
          accept=".pdf, text/plain, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          (change)="cloudUploadRawFile($event)"
        />
      </div> -->
      <div ng-disabled="isFileLoaded">
        <label (click)="uploadImage.click()" class="cursor-pointer">
          <mat-icon>add_a_photo</mat-icon>
        </label>
        <input
          className="p-2 rounded w-full border"
          type="file"
          id="image-upload"
          name="image"
          #uploadImage
          hidden
          accept="image/png, image/jpeg"
          (change)="cloudUploadImage($event)"
        />
      </div>
      <div ng-disabled="isFileLoaded">
        <label (click)="uploadVideo.click()" class="cursor-pointer">
          <mat-icon>videocam</mat-icon>
        </label>
        <input
          className="p-2 rounded w-full border"
          type="file"
          id="video-upload"
          name="video"
          #uploadVideo
          hidden
          accept="video/mp4,video/x-m4v,video/*"
          (change)="cloudUploadVideo($event)"
        />
      </div>
    </div>
    <input
      class="w-[80%] py-3 px-2 my-2 bg-slate-100"
      type="text"
      placeholder="Your message"
      formControlName="newMessage"
      id="inputText"
      autofocus
      [value]="messageForm.value.newMessage"
    />

    <button
      type="submit"
      mat-button
      color="warn"
      mat-raised-button
      [disabled]="!messageForm.valid"
    >
      Send
    </button>
  </form>
</div>
