<section id="home">
  <div class="home__wrapper">
    <div class="title">
      <h3><span class="orange">C</span>hat<span class="orange">M</span>e</h3>
      <ul class="animated--text">
        <li class="single--text"></li>
      </ul>
      <button>Join now!</button>
    </div>

    <div class="phone__wrapper">
      <div class="phone__border">
        <div class="phone__content">
          <app-home-phone-content></app-home-phone-content>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>about us</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>

    <div class="box">
      <h3>follow us</h3>

      <div class="box--icons">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="credit">
    created by <span> wallas5h</span> | all rights reserved
  </div>
</section>
