<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Available rooms
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-selection-list
    [multiple]="false"
    [ngClass]="{'overflow-y-scroll':roomsArrayLength>3}"
    class="h-max-[20vh]"
  >
    <div *ngFor="let room of rooms" class="flex items-center">
      <mat-list-option
        [value]="room"
        (click)="setCurrentRoom(room)"
        [routerLink]="['room']"
        [queryParams]="{room: room._id}"
      >
        <div class="flex row-auto justify-between">
          <!-- <a [routerLink]="['room']" [queryParams]="{room: room._id}"
            >{{room.name}}</a> -->

          <button class="flex justify-between mr-5">
            <span>{{room.name}}</span>
          </button>
        </div>
      </mat-list-option>

      <!-- new messages alert-->
      <span
        class="block ml-3 rounded-full w-[25px] h-[20px] bg-green-400 text-sm text-center"
        [ngClass]="{'hidden': !this.socketioService.newMessages[room._id] }"
      >
        {{this.socketioService.newMessages[room._id]}}
      </span>

      <!-- room options to choice-->
      <button
        mat-icon-button
        [matMenuTriggerFor]="settings"
        matTooltip="more"
        matTooltipPosition="right"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #settings="matMenu">
        <ng-container *ngIf="user?.id===room.createdBy.id">
          <button (click)="editRoomProp(room)" mat-menu-item>
            Settings
          </button>
          <button (click)="addRoomUser(room)" mat-menu-item>
            Add user
          </button>
          <button (click)="deleteRoom(room._id)" mat-menu-item>
            Delete room
          </button>
        </ng-container>
        <ng-container *ngIf="user?.id!==room.createdBy.id">
          <button (click)="showRoomInfo(room)" mat-menu-item>
            Info
          </button>
        </ng-container>
        <button (click)="disLikeRoom(room._id)" mat-menu-item>
          Remove from list
        </button>
      </mat-menu>
    </div>
  </mat-selection-list>
  <div class="flex items-center">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex items-center justify-evenly">
          <div
            (click)="setRoomAddSearchOpt('add')"
            class="flex items-center px-5 py-3 hover:bg-slate-200"
          >
            <mat-icon>add</mat-icon>
          </div>
          <div
            (click)="setRoomAddSearchOpt('search')"
            class="flex items-center px-5 py-3 hover:bg-slate-200"
          >
            <mat-icon>search</mat-icon>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="roomAddSearchOpt=='add'">
        <form
          class="example-form"
          [formGroup]="roomForm"
          (ngSubmit)="createNewRoom()"
        >
          <input
            matInput
            class="w-full py-3 px-2 my-2 bg-slate-100"
            type="text"
            placeholder="room name"
            formControlName="newRoom"
          />
          <div class="flex justify-between items-center mt-2">
            <mat-checkbox class="example-margin" formControlName="private"
              >Private room</mat-checkbox
            >
            <button
              type="submit"
              mat-button
              color="warn"
              mat-raised-button
              [disabled]="!roomForm.valid"
            >
              Create
            </button>
          </div>
        </form>
      </ng-container>

      <ng-container *ngIf="roomAddSearchOpt=='search'">
        <form
          class="example-form"
          [formGroup]="searchRoomForm"
          (ngSubmit)="searchRoom()"
        >
          <input
            matInput
            class="w-full py-3 px-2 my-2 bg-slate-100"
            type="text"
            placeholder="search room"
            formControlName="searchPhrase"
            [value]="searchRoomForm.value.searchPhrase"
          />
          <div class="flex justify-between items-center mt-2">
            <button
              type="submit"
              mat-button
              color="warn"
              mat-raised-button
              [disabled]="!searchRoomForm.valid"
              class="w-full"
            >
              Search
            </button>
          </div>
        </form>
      </ng-container>
    </mat-expansion-panel>
  </div>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Members
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-selection-list
    [multiple]="false"
    [multiple]="false"
    [ngClass]="{'overflow-y-scroll':members.length>3}"
    class="h-max-[20vh]"
  >
    <div *ngFor="let member of members" class="flex items-center">
      <mat-list-option
        (click)="setCurrentRoom(member,true)"
        [value]="member"
        [disabled]="user?.id===member._id"
        [routerLink]="['room']"
        [queryParams]="{member:member._id }"
      >
        <button
          class="flex justify-start ml-2 items-center"
          [disabled]="user?.id===member._id"
        >
          <span
            class="flex w-2 h-2 rounded bg-red-300 mr-2"
            [ngClass]="{'bg-green-300': member.status==='online' }"
          ></span>
          {{member.name | titlecase}}
          <span *ngIf="user?.id===member._id" class="ml-2">(You)</span>
        </button>
      </mat-list-option>
      <!-- new messages alert-->
      <span
        class="block ml-3 rounded-full w-[25px] h-[20px] bg-green-400 text-sm text-center"
        [ngClass]="{'hidden': !this.socketioService.newMessages[orderId(member._id)]}"
      >
        {{this.socketioService.newMessages[orderId(member._id)]}}
      </span>
    </div>
  </mat-selection-list>
</mat-expansion-panel>
